PCL/
saves/
.cache/
.idea/
.vscode/
.mixin.out/
crash-reports/
local/
logs/
modernfix/
modernfix/structureCacheV1/
defaultconfigs/
resourcepacks/
shaderpacks/
localconfigs/
Sponge Factory Expert-natives/
journeymap/data/
journeymap/server/
journeymap/icon/
journeymap/journeymap.log
kubejs/probe/
backups/
screenshots/
lightspeed-cache/
patchouli_books/

o_prof
options.txt
rhino.local.properties
Sponge Factory Expert.jar
Sponge Factory Expert.json
usercache.json
usernamecache.json

.qmenu_opened.marker
patchouli_data.json
reauth.toml
